/* Box */

	.box {
		border-radius: _size(border-radius);
		box-shadow: 0px 0px 4px 1px _palette(border-lt);
		padding: 3rem;

		> :last-child {
			margin-bottom: 0;
		}

		&.alt {
			border: 0;
			border-radius: 0;
			padding: 0;
		}

		@include breakpoint('<=medium') {
			padding: 2rem;
		}
	}

	@mixin color-box($p: null) {
 		.box {
 			border-color: _palette($p, border);
 		}
	}

	@include color-box;